<%- include("partials/header") %>

  <h1>Home</h1>
  <p><%= hometext %></p>

  <% posts.forEach(function(post){ %>
    <form action="/delete" method="post">
      <h2><%= post.name %></h2>
      <p>
        <%= post.body.substring(0, 100) + "..." %>
        <a href="/posts/<%=post.name%>">read more</a>
        <button class="btn btn-danger btn-sm" type="submit" value="<%= post.name %>" name="delete">Delete</button>
      </p>
    </form>
  <% }) %>


<%- include("partials/footer") %>
